.home {
  height: 100%;
  background:url('https://www.wallpaperflare.com/static/57/11/647/artwork-fantasy-art-castle-horse-wallpaper.jpg');
  background-size: cover;

}

header {
  text-align: center;
  animation-duration: 3s;
  animation-name: bounceIn;

}
.outer-div {
  text-align: center;
  padding-top: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  font-size: 25px;
  padding: 10px;
  width: 750px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;

}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  font-size: 20px;
  background-color: hsl(200, 100%, 50%);
  border: 2px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

/*
  Add an animation to enable the title to come in
*/
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
